$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    width: 1440px;
    max-height: 900px;
    background-color: $Lightgray;
    font-size: 15px;
    .card{
        max-width: 450px;
        margin: 40px auto;
        background-color: $White;
        border-radius: 20px;
        margin-top: 150px;
        padding-bottom: 70px;
        img{
            object-fit:fill;
            display:center;
            width: 410px;
           margin: 20px;
           border-radius: 20px;
        }
        h1{
            object-fit: cover;
            margin: 20px auto;
            width: 410px;
        }
        p {
            width: 320px;
            margin: 20px auto;
            font-size: larger;
            align-items: center;
            color:$Grayishblue;
            font-weight: 500;
    
        }
    

    }
    .attribution{
        margin-top: 100px;
    }

}

@media screen and (max-width: 600px) {
    body{
    .card{
        max-width: 375px;
                img{
                    object-fit: cover;
                    width: 340px;
                    height: auto;
                    margin: 20px auto;
                    
                }
                h1{
                    width: 375px;
                    object-fit: cover;
                    margin:auto;
                    height: auto;
                }
    }
    }
}